<!DOCTYPE html>
<html>
	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" href="../js/bootstrap-3.3.7-dist/css/bootstrap.css">
		<link rel="stylesheet" href="../js/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../js/font-awesome-4.7.0/css/font-awesome.min.css">	
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/design-style.css">
		
		<style>
			h2 ,h4 {font-family: "Microsoft JhengHei UI Light"; src:url(../fonts/msjh.ttc); 
				font-weight: bold; 
				text-align: center;
				
			}
			h3{
				font-family: "Microsoft JhengHei UI Light"; src:url(../fonts/msjh.ttc);
				font-weight: bold;
			}
			h5{
				color: #822d2b;
				font-weight: bold;
			}
		</style>
		<title>Design</title>
    </head>
    
    <body>
		<nav class="navbar navbar-default navbar-fixed-top re_nav">
  			<div class="">
  				<ul class="re_ulStyle">
  					<li class="re_lilogo">
						<a href="../resume.html" class="clickHide re_titleBtn"><img src="../images/my_name.png" class="re_logoimg"></a>
					</li>
                    <li class="re_liStyle">
                        <a href="../resume.html#design" class="re_titleBtn">回到履歷</a>
                    </li>
  				</ul>
  				<!-- Single button -->
				<div class="btn-group re_ulSmall">
					<button type="button" class="btn dropdown-toggle re_smailBtn" data-toggle="dropdown" aria-expanded="false" >
						<i class="fa fa-bars" aria-hidden="true"></i>
					</button>
					<ul class="dropdown-menu re_liSmall" role="menu">
                        <li><a href="../resume.html#design">回到履歷</a></li>
					</ul>
				</div>
  			</div>
        </nav>
        
        <section id="top">
			<div class="re_content design-banner-img">
				<img src="">
				<h1 class="hp_title" style="color: black; top: 250px;">Design</h1>
			</div>
        </section>

        <section class="pf_main_box" style="margin-top: 70px; margin-bottom: 50px;">
			<div class="container-fluid">
				<div class="row pf_main_row">
					<div class=" pf_gallery_img" id="myContent1">						
						<a href="" data-toggle="modal" data-target="#myModal" >
							<img src="../images/motobike3.jpg" class="pf_img" >
						</a>
					</div>
					<div class=" pf_gallery_img" >
						<a href="" data-toggle="modal" data-target="#myModal2">
							<img src="../images/dm4.jpg" class="pf_img">
						</a>
					</div>
					<div class=" pf_gallery_img">
						<a href="" data-toggle="modal" data-target="#myModal3">
							<img src="../images/cloth2.jpg" class="pf_img">
						</a>
					</div>
					<div class=" pf_gallery_img">
						<a href="" data-toggle="modal" data-target="#myModal4">
							<img src="../images/eat1.jpg" class="pf_img">
						</a>
					</div>
				</div>
				<div class="row pf_main_row">
					<div class=" pf_gallery_img">						
						<a href="" data-toggle="modal" data-target="#myModal5" >
							<img src="../images/eng_camp.jpg" class="pf_img" >
						</a>
					</div>
					<div class=" pf_gallery_img" >
						<a href="" data-toggle="modal" data-target="#myModal6">
							<img src="../images/sea.jpg" class="pf_img">
						</a>
					</div>
					<div class=" pf_gallery_img">						
						<a href="" data-toggle="modal" data-target="#myModal7" >
							<img src="../images/lunchBox_Design.jpg" class="pf_img" >
						</a>
					</div>
					<div class=" pf_gallery_img" >
						<a href="" data-toggle="modal" data-target="#myModal8">
							<img src="../images/board_game.jpg" class="pf_img">
						</a>
					</div>
				</div>
				<div class="row pf_main_row">
					<div class=" pf_gallery_img">						
						<a href="" data-toggle="modal" data-target="#myModal9" >
							<img src="../images/2020_christmas_dm1.jpg" class="pf_img" >
						</a>
					</div>
				</div>
			</div>
        </section>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">影片素材 (攝影工作室)</h4>
					</div>
					<div class="modal-body">
						<div class="mod_content3_1">
							<img src="../images/motobike3.jpg" class="mod_img1">
						</div>
						<div class="mod_content3_2">
							<img src="../images/motobike_char.png" class="mod_img1_2">
						</div>
						<div>
							<h5>專案說明</h5>
							<p>由朋友委託製作的影片素材，用於宣傳影片中</p>
							<h5>概念</h5>
							<p>概念由案主題供，由於該工作室已拍攝機車為主，因此案主希望將機車與攝影機上下結合。而在設計上以簡單的向量結構設計</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        

        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">個人練習作品</h4>
					</div>
					<div class="modal-body">
						<div class="mod_content2">
							<img src="../images/dm1.jpg" class="mod_img2_1">
							<img src="../images/dm2.jpg" class="mod_img2_1">
							<img src="../images/dm3.jpg" class="mod_img2_1">
						</div>
						<div>
							<h5>專案說明</h5>
							<p>個人平時設計。跨國系列演場會海報，由同一個組織主辦，因此以一致的風格，使接受資訊者能一目瞭然，此海報與活動是由同一個組織設計，加上不同城市的風景與特色設計。</p>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">服飾品牌DM</h4>
					</div>
					<div class="modal-body mod_content">
						<img src="../images/cloth2.jpg"  class="mod_img3">
					</div>
					<div class="mod_text">
						<h5>專案說明</h5>
						<p>網路服飾品牌LEAF(立服)形象DM，業主提供四組形象照片，產出成品將放於品牌的Facebook上。</p>
						<h5>設計概念</h5>
						<p>思考在平面中製造出空間感，讓畫面更生動，並且能充分展現人物形象與與服飾。因此將人物照堆疊排列呈現出層次感，並在底圖上加上陰影，讓底圖有景深，以增加層次感，並且以簡單的有襯體字形放於右側，增加復古的韻味。</p>
					</div>
				</div>
			</div>
        </div>
        
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">小吃金正好吃Logo</h4>
					</div>
					<div class="modal-body mod_content_mod4">
						<div class="mod_content">
							<img src="../images/eat2.jpg" class="mod_img4 mod_content_mod4_img">
						</div>
						<div class="mod_text">
							<h5>專案說明</h5>
							<p>由餐飲連鎖店委託製作素材(金正好吃)，業主將為其形象廣告影片中使用。</p>
							<h5>計概念</h5>
							<p>業主希望在影片中，注入另一種全新的感覺，以強烈、炫麗、有活力的樣式，加深企業的形象。因此對於影片中企業的識別，也希望有震撼的感受。在討論與發想中，強烈、震撼令人想到美國的超人電影的文字特效(如復仇者聯盟)，這類電影多以用金屬或漸層文字，因此最後決定以金屬質感文字來呈現。</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">2019暑假夏令營-英語夏令營</h4>
					</div>
					<div class="modal-body mod_content">
						<img src="../images/2019summer_camp.jpg"  class="mod_img3">
					</div>
					<div class="mod_text">
						<h5>專案說明</h5>
						<p>新城靈糧堂2019暑假夏令營DM</p>
						<h5>設計概念</h5>
						<p>主視覺使用美國漫畫的線條風格，用來強調美國文化與英語，另外使用鮮明的色彩加強畫面，提升觀看者的注意。</p>
					</div>
				</div>
			</div>
        </div>
		
		<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">2018暑假夏令營-海洋勇士</h4>
					</div>
					<div class="modal-body mod_content">
						<img src="../images/design_demo.jpg"  class="mod_img3">
					</div>
					<div class="mod_text">
						<h5>專案說明</h5>
						<p>新城靈糧堂2018暑假夏令營DM</p>
						<h5>設計概念</h5>
						<p>由於本次夏令營主題為“海洋勇士” 因此想設計出一個繽紛的大海，並且能呼應兒童活動的感覺，所以風格上呈現出繪本的繪畫風。使用photoshop繪製。</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">要吃啥網頁banner設計</h4>
					</div>
					<div class="modal-body">
						<div class="mod_content">
							<img src="../images/web_design_demo1.jpg"  class="mod_img3">
						</div>
						<div class="mod_content" style="margin-top: 10px;">
							<img src="../images/web_design_demo2.jpg"  class="mod_img3">
						</div>
					</div>
					<div class="mod_text">

					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">桌遊美術設計-詐欺遊戲</h4>
					</div>
					<div class="modal-body">
						<div class="mod_content2">
							<img src="../images/board_game_golden.jpg" class="mod_img2_1">
							<img src="../images/board_game_sliver.jpg" class="mod_img2_1">
							<img src="../images/board_game_red.jpg" class="mod_img2_1">
						</div>
						<div class="mod_text">
							<h5>專案說明</h5>
							<p>桌遊美術設計-詐欺遊戲。是一款與朋友合作設計的桌遊，還在進行中</p>
							<h5>設計概念</h5>
							<p>由我負責美術設計，在卡牌上我想要呈現美國漫畫的色塊堆疊感，因此想好構圖後，使用photoshop筆刷堆疊色澤。</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">2020新城靈糧堂聖誕節活動DM設計</h4>
					</div>
					<div class="modal-body">
						<div class="mod_content">
							<img src="../images/2020_christmas_dm1.jpg"  class="mod_img3">
						</div>
						<div class="mod_content" style="margin-top: 10px;">
							<img src="../images/2020_christmas_dm2.jpg"  class="mod_img3">
						</div>
					</div>
					<div class="mod_text">
						<h5>專案說明</h5>
						<p>2020年新城靈糧堂聖誕節特別活動-為你聖誕DM設計</p>
					</div>
				</div>
			</div>
		</div>

		<a href="#top" class="cd-top">Top</a>
		
        <footer>
			<div class="container-fluid foot_box">
				<div class="foot_p">
					<span>
						<a href="" style="cursor: pointer;" data-toggle="modal" data-target="#myContact">
							<i class="fa fa-envelope fa-2x" aria-hidden="true"></i><span class="foot_span1">聯絡我</span>
						</a>
					</span>
					<span class="foot_span2">Copyright&nbsp;&copy;&nbsp;2018</span>
					<span></span>
				</div>
			</div>
		</footer>
        
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>


        
		<script src="../js/sidebutton.js"></script>
		<script src="../js/page-change.js"></script>
    </body>
</html>