<!DOCTYPE html>
<html>
	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" href="../js/bootstrap-3.3.7-dist/css/bootstrap.css">
		<link rel="stylesheet" href="../js/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../js/font-awesome-4.7.0/css/font-awesome.min.css">	
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/photo.css">
		
		<style>
			h2{font-size: 35px;}
			h4{font-size: 25px;}
		</style>

		<title>Photograph</title>
    </head>
    
    <body>
		<nav class="navbar navbar-default navbar-fixed-top re_nav">
  			<div class="">
  				<ul class="re_ulStyle">
  					<li class="re_lilogo">
						<a href="../resume.html" class="clickHide re_titleBtn"><img src="../images/my_name.png" class="re_logoimg"></a>
					</li>
                    <li class="re_liStyle">
                        <a href="../resume.html#photograph" class="re_titleBtn">回到履歷</a>
                    </li>
  				</ul>
  				<!-- Single button -->
				<div class="btn-group re_ulSmall">
					<button type="button" class="btn dropdown-toggle re_smailBtn" data-toggle="dropdown" aria-expanded="false" >
						<i class="fa fa-bars" aria-hidden="true"></i>
					</button>
					<ul class="dropdown-menu re_liSmall" role="menu">
                        <li><a href="../resume.html#photograph">回到履歷</a></li>
					</ul>
				</div>
  			</div>
        </nav>
        
        <section id="top">
			<div class="re_content photo-banner-img">
				<img src="">
				<h1 class="hp_title" style="color: black; top: 250px;">Photograph</h1>
			</div>
		</section>

		<section>
			<div class="container-fluid">
				<div class="row" style="margin-top: 50px;">
					<div class="col-md-6">
						<a class="photo-btn" onclick="changeContent('proj')">接案攝影</a>
						<a class="photo-btn" onclick="changeContent('hobby')">個人攝影</a>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
		</section>

		<section id="project-photo">
			<div class="container-fluid">
				<h2 style="text-align: center;">接案攝影</h2>
				<div class="row" style="margin-top: 70px; text-align: center;" >
					<h4 id="event-photo">新台灣人文教基金會「媽媽教我的詩」少年兒童創意朗詩大賽-活動攝影</h4>
					<label><a href="https://www.facebook.com/mmjwdsh/photos/pcb.3700637099980070/3700624583314655/" class="photo-btn" >
						活動連接
					</a></label>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-6">
						<img src="../img/DSC09380.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC09467.jpg" class="photo-img-block">
					</div>
				</div>
				<div class="row" style="margin-top: 20px; margin-bottom: 50px;">
					<div class="col-md-6">
						<img src="../img/DSC09200.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC09273.jpg" class="photo-img-block">
					</div>
				</div>


				<div class="row" style="margin-top: 70px; text-align: center;">
					<h4>漁光島虱目魚主題館「食農教育」計劃成果發表-活動攝影</h4>
					<label><a href="https://www.facebook.com/SabafishMilkfishThemeMuseum/photos/pcb.4452846448118760/4452800591456679" class="photo-btn" >
						活動連接
					</a></label>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-6">
						<img src="../img/DSC08356.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC08300.jpg" class="photo-img-block">
					</div>
				</div>
				<div class="row" style="margin-top: 20px; margin-bottom: 50px;">
					<div class="col-md-6">
						<img src="../img/DSC08528.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/fish_event2.jpg" class="photo-img-block">
					</div>
				</div>


				<div class="row" style="margin-top: 70px;">
					<h4>2020台灣創新技術博覽會-協助兆豐商銀得獎單位攝影</h4>
				</div>
				<div class="row" style="margin-top: 10px; margin-bottom: 50px;">
					<div class="col-md-6">
						<img src="../img/DSC07353.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC07362.jpg" class="photo-img-block">
					</div>
				</div>



				<div class="row" style="margin-top: 70px; text-align: center;">
					<h4>鏊屋串燒三重店-社群行銷攝影</h4>
					<label><a href="https://www.facebook.com/Yuki%E6%9C%89%E7%90%A6-1613832595508957/photos/pcb.3341379059420960/3341378792754320/" class="photo-btn" >
						活動連接
					</a></label>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-6">
						<img src="../img/DSC07070.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC07042.jpg" class="photo-img-block">
					</div>
				</div>
				

				<div class="row" style="margin-top: 70px; text-align: center;">
					<h4>Flowering綻放空間-社群行銷攝影</h4>
					<label><a href="https://www.facebook.com/Yuki%E6%9C%89%E7%90%A6-1613832595508957/photos/pcb.3318699395022260/3318699298355603" class="photo-btn" >
						活動連接
					</a></label>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-6">
						<img src="../img/DSC06703.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC06744.jpg" class="photo-img-block">
					</div>
				</div>
				<div class="row" style="margin-top: 20px; margin-bottom: 50px;">
					<div class="col-md-6">
						<img src="../img/DSC06712.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC06692.jpg" class="photo-img-block">
					</div>
				</div>
				<!--<div class="row" style="margin-top: 20px; margin-bottom: 50px;">
					<div class="col-md-6">
						<img src="../img/DSC06712.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC06703.jpg" class="photo-img-block">
					</div>
				</div>-->
			</div>
		</section>
		
		<section id="hobby-photo" style="display: none;">
			<div class="container-fluid">
				<h2 style="text-align: center;">個人攝影</h2>
				<!-- 白日夢咖啡-->
				<div class="row" style="margin-top: 50px;">
					<div class="col-md-6">
						<img src="../img/DSC05207.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC05197.jpg" class="photo-img-block">
					</div>
				</div>

				<!-- 白日夢咖啡-->
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6">
						<img src="../img/DSC05237.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC05215.jpg" class="photo-img-block">
					</div>
				</div>

				<!-- 麟山鼻-->
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6">
						<img src="../img/DSC04549.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC05259.jpg" class="photo-img-block">
					</div>
				</div>

				<!-- santa monica-->
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6">
						<img src="../img/DSC02591.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC02587.jpg" class="photo-img-block">
					</div>
				</div>

				<!-- sakura-->
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6">
						<img src="../img/DSC01723.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC01724.jpg" class="photo-img-block">
					</div>
				</div>

				<!-- 花-->
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6">
						<img src="../img/DSC02747.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC02746.jpg" class="photo-img-block">
					</div>
				</div>

				<!-- 花-->
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6">
						<img src="../img/DSC03946.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC03915.jpg" class="photo-img-block">
					</div>
				</div>

				<!-- 小南法-->
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6">
						<img src="../img/DSC05483.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC05478.jpg" class="photo-img-block">
					</div>
				</div>

				<!-- 攝影器材-->
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6">
						<img src="../img/DSC00791.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC00765.jpg" class="photo-img-block">
					</div>
				</div>

				<!-- 攝影器材-->
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6">
						<img src="../img/DSC00779.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC00778.jpg" class="photo-img-block">
					</div>
				</div>

				<!-- 世暐-->
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6">
						<img src="../img/DSC00792.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC05401.jpg" class="photo-img-block">
					</div>
				</div>


				<!-- lego-->
				<div class="row" style="margin-top: 20px;  margin-bottom: 50px;">
					<div class="col-md-6">
						<img src="../img/DSC00168.jpg" class="photo-img-block">
					</div>
					<div class="col-md-6">
						<img src="../img/DSC00186.jpg" class="photo-img-block">
					</div>
				</div>

			</div>
		</section>

		<a href="#top" class="cd-top">Top</a>

        <footer>
			<div class="container-fluid foot_box">
				<div class="foot_p">
					<span>
						<a href="" style="cursor: pointer;" data-toggle="modal" data-target="#myContact">
							<i class="fa fa-envelope fa-2x" aria-hidden="true"></i><span class="foot_span1">聯絡我</span>
						</a>
					</span>
					<span class="foot_span2">Copyright&nbsp;&copy;&nbsp;2018</span>
					<span></span>
				</div>
			</div>
		</footer>

        
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

		<script>
			function changeContent(v){
				let proj = document.getElementById('project-photo');
				let hobby = document.getElementById('hobby-photo');

				if(v=='proj'){
					proj.style.display = 'block';
					hobby.style.display = 'none';
				} else if(v == 'hobby'){
					proj.style.display = 'none';
					hobby.style.display = 'block';
				}
			}
		</script>
        
		<script src="../js/sidebutton.js"></script>
		<script src="../js/page-change.js"></script>
    </body>
</html>