


<footer id="footer" >
    <div class="footer-container">
        <div class="footer-grid-left">
            <div style="padding-top:20px;">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span style="margin-left: 5px;">0919-832-269</span>
            </div>
            <div class="footer-grid-email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span style="margin-left: 5px;">leohobusiness@gmail.com</span>
            </div>
        </div>
        
        <div class="footer-grid-right">
            <p style="padding-top:20px;">&copy; Copy right 2019 | 要吃啥營運管理 | james設計</p>
        </div>
    </div>
    
</footer>