<div class="modal fade bs-example-modal-lg" id="successModal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content success-msg" style="padding: 20px;">
      <div class="success-icon" style="width: 100%;">
        <i class="fa fa-check fa-3x" aria-hidden="true"></i>
      </div>
      <div style="width: 100%; margin-top: 10px; text-align: center;">{{successMsg}}</div>
      <div class="success-b-margin">
        <button class="btn-1" style="width: 50px; height: 30px;" (click)="closeMoal()">確定</button>
      </div>
    </div>
  </div>
</div>