.photo-img-block{
    width: 100%; 
    height:100%; 
    padding:0px 2px 0px 20px;
}

@media screen and (max-width: 991px){
	.photo-img-block{
        width: 100%; 
        height:100%; 
        padding:10px 0px 0px 0px;
		
	}
}

.photo-banner-img{
	width: 100%;
	height: 500px;
	background-image: url(../images/DSC00154.jpg);
	background-size: cover;
	background-position: center;
}

.photo-btn{
	padding-left: 20px;
	font-size: 18px;
	cursor: pointer;
	text-decoration: none;
	color: #b33434;
	transition: 0.3s ease-in-out;
}
.photo-btn:hover{
	text-decoration: none;
	color: #822d2b;
}