.projpartici_main_bg{
	width: 100%;
	/*height: 400px;*/
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.projpartici_main_box{	
	width: 50%;
	margin: auto;	
	display: flex;
	justify-content:center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	
}

.projpartici_ul{
	list-style-type:none;
	background: #fff;
}

.projpartici_li{
	float: left;
	text-align: center;
	padding: 30px 50px;

}

.projpartici_btn{
	color: black;
	text-decoration: none;
}

.projpartici_btn:hover{
	color: black;
	text-decoration: none;
}