h2 ,h4 {font-family: "Microsoft JhengHei UI Light"; src:url(../fonts/msjh.ttc); 
	font-weight: bold; 
	text-align: center;
	
}
h3{
	font-family: "Microsoft JhengHei UI Light"; src:url(../fonts/msjh.ttc);
	font-weight: bold;
}
h5{
	color: #822d2b;
	font-weight: bold;
}

/*nav bar*/
.re_nav{
	background: #272822;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border: none;
	height: 80px;
}
.re_ulStyle{
	float: left;
	list-style-type:none;
	margin-top: 15px;
	display: block;
	margin-left: -40px;
}

@media screen and (max-width: 700px){
	.re_ulStyle{
		display: none;
	}
}

.re_ulSmall{
	display: none;
	width: 100%;
	height: 50px;
	padding-left: 80%;
}
@media screen and (max-width: 700px){
	.re_ulSmall{
		display: block;
		
	}
}
.re_liSmall{
	height: 250px;
	width: 100%;
	top: 50px;
	position: absolute;
	text-align: center;
	font-family: "Microsoft JhengHei UI Light";
	src:url(../fonts/msjh.ttc);
	font-size: 20px;
}
.re_liSmall li{
	margin-top: 10px;
}


.re_smailBtn{
	position: absolute;
	top: 10px;
	background: #272822;
	color: #fbfbfb;
	border: 1px solid #ffffff;
	transition: 0.3s ease-in-out;
}
.re_smailBtn:hover{
	
	background: #272822;
	color: #fbfbfb;
}
.re_smailBtn:focus{
	
	background: #272822;
	color: #fbfbfb;
}
.re_liStyle{
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	display: block;
}

.re_lilogo{
	float: left;
	width: 150px;
	height: 100%;	
	border-right: 1px dotted #272822;
}
.re_titlelogo{
	width: 100px;
	height: 100%;
	background: #fbfbfb;
	border-right: 1px dotted #272822;
	margin-left: 0px;
	transition: 0.3s ease-in-out;
}
.re_titlelogo:hover{	
	background: #7a8981;	
}
.re_logoimg{
	height: 30px;
	width: 130px;
	margin-top: 10px;
	margin-left: 10px;
}
.re_titleBtn{	
	font-family: "Microsoft JhengHei UI Light";
	src:url(../fonts/msjh.ttc);
	font-weight: bold;
	font-size: 20px;
  	text-decoration: none;
	color: #ffffff;
	transition: 0.3s ease-in-out;
	cursor:pointer;
}
.re_titleBtn:hover{
  	text-decoration: none;
  	color: #b33434;
}
.re_content{
	display: block;
	z-index: 1;
}

/*homepage*/
.hp_bg{
	height: 900px;
	width: 100%;
}
.hp_bgImg{
	width: 100%;
	height: 800px;
	background-image: url(../images/pen.jpg);
	background-size: cover;
	background-position: center;
}

.hp_title{
	text-align: center;
	top: 350px;
	position: relative;
	font-family: "Microsoft JhengHei UI Light";
	src:url(../fonts/msjh.ttc);
	font-weight: bold;
	font-size: 50px;
	text-shadow:1px 1px 0 #444;
}



.mod_content{
	display: flex;
	justify-content:center;
}
.mod_content2{
	display: flex;
	
}
@media screen and (max-width: 500px){
	.mod_content2{
		display: list-item;
		list-style-type:none;
		padding-left: 10%;
	}
}
.mod_content3_1{
	display: flex;
	justify-content:center;
}
.mod_content3_2{
	display: flex;
	justify-content:center;
	margin-top: 20px;
}

.mod_img1{
	width: 300px;
	height: 200px;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

}
.mod_img1_2{
	width: 300px;
	height: 100px;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	
}
.mod_img2_1{
	width: 33.333333%;
	height: 300px;
}
@media screen and (max-width: 500px){
	.mod_img2_1{
		width: 200px;

	}
}
.mod_img3{
	width: 300px;
	height: 200px;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.mod_img4{
	width: 300px;
	height: 400px;
}
.mod_img5_box{
	width: 500px;
	height: 100%;
	
}
@media screen and (max-width: 450px){
	.mod_img5_box{
		width: 300px;
		
	}
}
.mod_img5_box a{
	color: #822d2b;
	text-decoration: none;
	transition: 0.5s ease-in-out;
	text-align: right;
}
.mod_img5_box a:hover{
	color: #d82000;
}
.mod_img5{
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: 0.5s ease-in-out;
}
/*.mod_img5:hover{
	opacity: 0.5;
}*/
.mod_text{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.mod_content_mod4{
	display: flex;
	justify-content:center;
	
}
@media screen and (max-width: 600px){
	.mod_content_mod4{
		display: list-item;
		text-decoration: none;

	}
}
.mod_content_mod4_img{
	margin-left: 10px;
	margin-right: 10px;
}
@media screen and (max-width: 600px){
	.mod_content_mod4_img{
		

	}
}

.foot_box{
	width: 100%;
	
	height: 100px;
	background: #272822;
}
.foot_p{
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}
.foot_p a{
	color: #fbfbfb;
	transition: 0.3s ease-in-out;
}
.foot_p a:hover{
	color: #b33434;
	text-decoration: none;
}
.foot_span1{
	font-size: 20px;
	font-family: "Microsoft JhengHei UI Light";
	src:url(../fonts/msjh.ttc);
	margin-left: 5px;
	color: #fbfbfb;
}
.foot_span2{
	font-size: 15px;
	font-family: "Microsoft JhengHei UI Light";
	src:url(../fonts/msjh.ttc);
	margin-top: 5px;
	color: #fbfbfb;
}



.painting_box{
	margin-top: 50px;
	margin-bottom: 50px;
}
.painting_box_padding{
	margin-bottom: 50px;
	margin-top: 20px;
}
.painting_padding{
	text-align:center;
	padding-top:270px; 
}
@media screen and (max-width: 950px){
	.painting_padding{
		padding-top:170px;
	}
}
.painting_button1{
	height:300px;
	width:300px;
	margin-left:100px;
	border-radius: 20px;	
  	transition: 0.1s ease-in-out;
  	font-size: 18px;
  	font-weight: bold;
  	color:white;
  	
}
@media screen and (max-width: 950px){
	.painting_button1{
		height:200px;
		width:200px;
	}
}

.projects_button{
	height:300px;
	width:800px;
	margin-left:20%;
	border-radius: 20px;
	text-align: center;
	background: black;
  	transition: 0.1s ease-in-out;
}
.projects_label{
	font-size: 24px;
	font-weight: bold;
	top: -180px;
	position: relative;
}
@media screen and (max-width: 1250px){
	.projects_button{
		margin-left:18%;
	}
}
@media screen and (max-width: 1200px){
	.projects_button{
		margin-left:17%;
	}
}
@media screen and (max-width: 1150px){
	.projects_button{
		margin-left:15%;
	}
}
@media screen and (max-width: 1050px){
	.projects_button{
		margin-left:13%;
	}
}
@media screen and (max-width: 1000px){
	.projects_button{
		margin-left:10%;
	}
}
@media screen and (max-width: 950px){
	.projects_button{
		margin-left:7%;
	}
}
@media screen and (max-width: 900px){
	.projects_button{
		margin-left:5%;
	}
}
@media screen and (max-width: 870px){
	.projects_button{
		margin-left:15%;
		width:600px;
	}
	.projects_label{
		top: -150px;
	}
}
@media screen and (max-width: 870px){
	.projects_button{
		margin-left:15%;
		width:600px;
	}
}
@media screen and (max-width: 800px){
	.projects_button{
		margin-left:13%;
		width:600px;
	}
}
@media screen and (max-width: 740px){
	.projects_button{
		margin-left:11%;
		width:600px;
	}
}
@media screen and (max-width: 725px){
	.projects_button{
		margin-left:9%;
	}
}
@media screen and (max-width: 700px){
	.projects_button{
		margin-left:20%;
		width:400px;
		height: 200px;
	}
	.projects_label{
		top: -120px;
	}
}
@media screen and (max-width: 600px){
	.projects_button{
		margin-left:20%;
	}
}
@media screen and (max-width: 580px){
	.projects_button{
		margin-left:15%;
	}
}
@media screen and (max-width: 520px){
	.projects_button{
		margin-left:13%;
	}
}
@media screen and (max-width: 500px){
	.projects_button{
		margin-left:10%;
	}
}
@media screen and (max-width: 450px){
	.projects_button{
		width:300px;
		margin-left:18%;
	}
}
@media screen and (max-width: 420px){
	.projects_button{
		margin-left:16%;
	}
}
@media screen and (max-width: 410px){
	.projects_button{
		margin-left:15%;
	}
}
@media screen and (max-width: 380px){
	.projects_button{
		margin-left:11%;
	}
}
@media screen and (max-width: 360px){
	.projects_button{
		margin-left:8%;
	}
}
@media screen and (max-width: 340px){
	.projects_button{
		margin-left:2%;
	}
}
.painting_button1 a{
	text-decoration: none;
	color: white;
	font-family: "Microsoft JhengHei UI Light";
	src:url(../fonts/msjh.ttc);
}
.bg_pic{
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	border-radius: 20px;
}
/* 手繪按鈕圖片 */
/* .pic1{
	background-image: url(../images/oil3.jpg);
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;
}
.pic1:hover{
	background-image: url(../images/oil2.jpg);
}
.pic2{
	background-image: url(../images/sketch1.jpg);
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;	
}
.pic2:hover{
	background-image: url(../images/sketch2.jpg);
} */
.pic3{
	background-image: url(../images/lunchBox_twoDevice2.jpg);
	opacity: 1;
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;
}
.pic3:hover{
	opacity: 0.7;
}
.pic4{
	background-image: url(../images/web_design4.jpg);
	opacity: 1;
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;
}
.pic4:hover{
	opacity: 0.7;
}
.pic5{
	background-image: url(../images/paper.jpeg);
	opacity: 1;
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;
}
.pic5:hover{
	opacity: 0.7;
}
.pic6{
	background-image: url(../images/DSC00154.jpg);
	opacity: 1;
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;
}
.pic6:hover{
	opacity: 0.7;
}
.pic7{
	background-image: url(../images/block.jpeg);
	opacity: 1;
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;
}
.pic7:hover{
	opacity: 0.7;
}
.pic8{
	background-image: url(../images/au04_02.png);
	opacity: 1;
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;
}
.pic8:hover{
	opacity: 0.7;
}
.painting_imgbox{
	display: flex;
	justify-content: center;
	padding: 30px;
}
.painting_mod_img1{
	margin-left: 20px;
	height: 200px;
	width: 50%;
	border-radius: 20px;
}
.painting_mod_img2{
	margin-left: 20px;
	height: 300px;
	width: 200px;
	border-radius: 20px;
}
@media screen and (max-width: 500px){
	.painting_mod_img2{
		height:150px;
		width:100px;
	}
}

/* .profile_webDesign_travel{
	background-image: url(../images/web_design.jpg);
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 100%;
} */


/* to top */
.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
  }
  .cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
  }
  .no-touch .cd-top:hover {
	background-color: #e86256;
	opacity: 1;
  }
  @media only screen and (min-width: 768px) {
	.cd-top {
	  right: 20px;
	  bottom: 20px;
	}
  }
  @media only screen and (min-width: 1024px) {
	.cd-top {
	  height: 60px;
	  width: 60px;
	  right: 30px;
	  bottom: 30px;
	}
  }
  
  
  .cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
  }
  .cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
  }

