<div class="modal fade bs-example-modal-lg" id="confirmModal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content confirm-msg" style="padding: 20px;">
      <div class="confirm-icon" style="width: 100%;">
        <i class="fa fa-check-square-o fa-3x" aria-hidden="true"></i>
      </div>
      <div style="width: 100%; margin-top: 10px;">{{confirmMsg}}</div>
      <div class="confirm-b-margin">
        <button class="btn" style="width: 50px; height: 30px;" (click)="toConfirm(true)">確定</button>
        <button class="btn" style="width: 50px; height: 30px; margin-left: 10px;" (click)="toConfirm(false)">取消</button>
      </div>
    </div>
  </div>
</div>