<div class="modal fade bs-example-modal-lg" id="forgetPasswordModal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content forgetPassword-modal" style="padding: 20px;">
      <form [formGroup]="emailForm">
        <div class="form-group">
          <label>信箱：</label>
          <input type="text" formControlName="email" (keydown)="deleteErrorMsg()" placeholder="example@mail.com"><br>
          <p style="color: red;">{{errorMsg}}</p>
        </div>
        
      </form>
      <div style="display: flex;">
        <button class="btn btn-default btn-1" style="width: 100px;" (click)="forgetPassword()">確認</button>
        <button class="btn btn-default btn-1" style="width: 100px; margin-left: 10px;" (click)="closeMoal()">取消</button>
      </div>
      
    </div>
  </div>
</div>
